@media (max-width: 768px) {
	.nav-link {
		font-size: 12px;
	}
	.w-25 {
		width: 50% !important;
	}
	.col-9 {
		padding-left: 3rem!important;
	}
	.w-75 {
		width: 100% !important;
	}
}
@media (max-width: 575px) {
	body {
		text-align: center !important;
	}
	.nav-link {
		text-align: left !important;
		font-size: 14px !important;
	}
	.sm-none {
		display: none !important;
	}
	.w-100 {
		width: 75% !important;
	}
	.w-100-custom {
		width: 100% !important;
	}
	.sm-center {
		text-align: center !important;
	}
	.pt-6 {
		padding-top: 0 !important;
	}
	.display-4 {
		font-size: 2.5rem !important;
	}
	.sm-w-65 {
		width: 65% !important;
	}
	.sm-footer {
		display: flex !important;
		flex-direction: column !important;
	}
	.sm-footer-nav {
		display: flex !important;
		flex-direction: row !important;
	}
	.footer-ml-auto {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.sm-text-right {
		text-align: center !important
	}
	.sm-float-right {
		float: none !important;
	}
}